{% trans_default_domain 'FOSUserBundle' %}



<form class="form-horizontal " action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" >



    {{ form_errors(form) }}

    <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.username, "Votre nom d'utilisateur", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.username) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'data-placement':'top'} }) }}

        </div>

    </div>

    <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.plainPassword.first, "mot de passe", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.plainPassword.first) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>

    <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.plainPassword.second, "réécrire votre mot de passe", {'label_attr': {'class': 'col-lg-7 control-label'}}) }}

                {{ form_errors(form.plainPassword.second) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>

    <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.email, "form.email", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.email) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'data-placement':'top'} }) }}

        </div>

    </div>



    {{ form_rest(form)}}

    <br>

    <div class="form-group">

        <input type="submit" class="btn btn-info" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />



    </div>



</form>