 
      {% block fos_user_content %}
{{ render(controller('FOSUserBundle:Security:login')) }}

{{ render(controller('FOSUserBundle:Registration:register')) }}
  
    
       {% endblock fos_user_content %}