{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    
 <form class="form-horizontal " action="{{ path("add_action") }}" method="POST" enctype="multipart/form-data">

 <fieldset>
    <legend>informations personnelles:</legend>

    {{ form_errors(form) }}

    <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.etat, "ETAT", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.etat) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.etat, {'attr': {'class': 'form-control', 'data-placement':'top'} }) }}

        </div>

    </div>   
            
            
            
    <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.civilite, "Civilité", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.civilite) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.civilite, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>


            
    <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.nom) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.nom, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
            
            
    <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.prenom, "Prenom", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.prenom) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
            
            
    <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.datenaissance, "Date-naissance", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.datenaissance) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.datenaissance, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
            
             
    <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.nationalite, "Nationalité", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.nationalite) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.nationalite, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
            
    <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.adresse, "Adresse", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.adresse) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
            <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.codepostale, "CodePostale", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.codepostale) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.codepostale, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
            
     <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.ville) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.ville, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
            
    <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.pays, "Pays", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.pays) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.pays, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
         <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.telfixe, "TelFixe", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.telfixe) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.telfixe, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
            
    
     <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.telportable, "TelPortable", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.telportable) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.telportable, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
                   
      <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.nopassport, "Num-passport", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.nopassport) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.nopassport, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
                   
                       
      <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.dateexpiration, "DateD'expiration", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.dateexpiration) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.dateexpiration, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
                         
      <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.paysemission, "PaysD'emission", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.paysemission) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.paysemission, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
     
            <div class="form-group">

        <div class="row">

            <div class="col-lg-10">

                {{ form_label(form.heuredebutdc, "HeureDebutDc", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.heuredebutdc) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.heuredebutdc, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
            
     <div class="form-group">

        <div class="row">

            <div class="col-lg-10">
                     
                {{ form_label(form.heurefindc, "HeureFinDc", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}

                {{ form_errors(form.heurefindc) }}

            </div>

        </div>

        <div class="col-lg-5">

            {{ form_widget(form.heurefindc, {'attr': {'class': 'form-control'} }) }}

        </div>

    </div>
            
   
    {{ form_rest(form)}}

    <br>

    <div class="form-group">

        <input type="submit" class="btn btn-info" value="Enregistrer" />



    </div>

</fieldset>

</form>
    {% endblock fos_user_content %}
